<h1>Admin Allocation Report</h1>
<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Required Funding</th>
      <th>Total Allocated by Residents</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>$<%= number_with_delimiter(project.cost) %></td>
        <td>$<%= number_with_delimiter(project.allocations.sum(:amount)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
